<div class="privacy_policy">
    <h2>Privacy Statement</h2>
    <p>This Privacy Statement sets out the privacy policies and practices for Carmandi.ca Inc.. and its subsidiaries and affiliates (collectively, "Carmandi") with respect to the collection, use and disclosure of personal information in connection with www.carmandi.ca (the "Site"). This Privacy Statement may be updated by Carmandi giving reasonable notice of the revised terms (including by e-mail or by posting on the Site), and this Privacy Statement may be supplemented or modified by agreements entered into between Carmandi and an individual from time to time.</p>
    <p>In this Privacy Statement, "personal information" means any information about an identifiable individual, as further defined under applicable Canadian laws.</p.>
    
    <h2>Collection of Personal Information</h2>
    <p>The Site's registration form requires users to give us contact information (such as name and email address) and demographic information (such as postal code, age, or income level) and other information that is used by Carmandi to provide services. Carmandi uses the customer contact information from the registration form to send the user information that he or she has requested regarding the Site or regarding services offered by Carmandi.</p>
    <p>This Site uses an ad form for customers to place online and/or print ads. One of the express purposes of the Site is to gather contact information provided voluntarily by customers to be published either online or in print, as the case may be, and in connection with items that are for sale by customers. Carmandi has no control over who views online or print ads. Contact information provided may be used to contact customers when necessary. We collect customers’ financial information (such as account or credit card numbers) to bill the user for products and services, but retain this information only as required to process the transaction and for as long as may be required by law.</p>
    <p>Demographic and profile data is also collected at the Site. We use this data to tailor each visitor's experience at the Site, showing the user content that we think he or she might be interested in, and displaying the content according to the user’s preferences.
    <p>Carmandi's online surveys ask visitors for contact information (such as email addresses) and demographic information (such as postal code, age, or income level). Carmandi uses contact data from our surveys to send users information about our products and services. Users may opt-out of receiving future mailings (see the Opt-Out section below).</p>
    <p>Carmandi may use customer information for additional purposes that may be identified at or before the time that the information is collected. Carmandi also uses information from customers for accounting and transaction completion purposes.</p>
    <h2>Disclosure of Personal Information</h1>
    <p>Carmandi may disclose certain personal information as follows:</p>
    <ul>
        <li>to third party service providers and to affiliated entities in order to carry out work on behalf of Carmandi,</li>
        <li>to law enforcement agencies for the purposes of investigating fraud or other offences, or</li>
        <li>to legal, financial, and other professional advisors or in connection with the sale or reorganization of all or part of its business or operations.</li>
    </ul>    
    <p>Except as provided above, Carmandi will not use or disclose personal information for purposes other than those for which it was collected, except with the consent of the individual or as required or permitted by law.</p>
    
    <h2>Cookies and IP Addresses</h2>
    <p>Carmandi uses your IP address to help identify you and your membership, gather broad demographic information about our users, diagnose problems with our server, and administer the Site. The Site uses cookies to keep track of your membership tools and to make sure you do not see the same ad repeatedly. We use cookies to deliver content specific to your interests and to save your password so you do not have to re-enter it each time you visit the Site. We also provide an option to log out should you be using an insecure or publicly shared computer.</p>
    <p>We use outside ad companies to display ads on the Site. These ads may contain cookies. While we use cookies in other parts of the Site, cookies received with banner ads are collected by our ad companies, and Carmandi does not have access to this information.
Links</p>
    <p>This Site contains links to other websites, such as websites providing national search capabilities and information resources designed to inform buyers and sellers about general aspects of property that is being sold. Carmandi is not responsible for the privacy practices or the content of such websites. Please ensure you review the privacy policies of the websites that you visit.</p>
    
    <h2>Security</h2>
    <p>Carmandi protects against the loss, misuse and alteration of personal information with security measures appropriate to the sensitivity of the information. However, it is possible that any information transmitted via the Internet may be intercepted by unknown third parties. We use Verisign to have credit card data transmitted to our network servers in a secure encrypted mode.</p>
    
    <h2>Opt-Out</h2>
    <p>When appropriate, users of the Site are given the opportunity to (i) opt-out of receiving communications from us, (ii) remove their information from our database, or (iii) elect to no longer receive services from us. If you wish to opt-out of receiving further communications, please contact Carmandi’s privacy officer (the “Privacy Officer”) by email or phone using the contact information provided below.</p>
    
    <h2>Corrections/Contact</h2>
    <p>Users of this Site may contact the Privacy Officer to modify or correct any of their personal information that is under our control. An individual may also direct a written complaint regarding compliance with this Privacy Statement to the Privacy Officer and, within a reasonable time upon receiving the written complaint, the Privacy Officer will conduct an investigation into the matter. Within a reasonable time of concluding the investigation, the Privacy Officer will inform the complainant whether the complaint will be allowed or denied. If the Privacy Officer allows the complaint, Carmandi will take appropriate measure necessary to rectify the source of the complaint.</p>
    
    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Statement, Carmandi’s privacy practices in connection with this Site, or Carmandi’s collection, use, disclosure, or retention of your personal information in connection with this Site, please contact the Privacy Officer as follows:</p>
    <p>Carmandi<br />
    Attention: Privacy Officer<br />
__________<br />
____________<br />
Email: <a href="mailto:privacyofficer@carmandi.ca">privacyofficer@carmandi.ca</a></p>
    
    
    <div class="terms">
    <h1>Terms of Use</h1>
    <h2>Acceptance of Terms</h2>
    <p>Welcome to www.carmandi.ca (the "Site"), which is operated by Carmandi.ca Inc.. ("Carmandi"). The Site is provided to you subject to the following terms and conditions (the "Terms of Use"). These Terms of Use include important disclaimers that affect your rights.</p>
    <p class="bold">By using the Site, you agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, do not use the Site.</p>
    
    <h2>Changes to these Terms of Use</h2>
    <p>Carmandi reserves the right to make changes to these Terms of Use. The changes are effective on the earlier of (i) Carmandi providing you with notice of such changes, or (ii) 14 days after the revised Terms of Use are posted on the Site.</p>
    
    <h2>Changes to the Site</h2>
    <p>Carmandi reserves the right to change any aspect of the Site including the right to refuse or remove any content, whatever the source, at any time without any notice or liability to you.</p>
    <p>All ads are published on the Site in good faith without verification. Carmandi reserves the right to refuse, classify, revise or censor any ads for any reason in its sole discretion. Carmandi does not guarantee to post all requested ads. All users are advised to check ad and message details carefully before entering into any agreement of any kind and before disclosing personal information.</p>
    <h2>Privacy Policy</h2>
    <p>Carmandi collects, uses, and discloses your personal information in accordance with the Privacy Policy of the Site. The Privacy Policy is incorporated into these Terms of Use and is available at AutoHebdo.net. By providing information to Carmandi, you consent to the use of such information in accordance with the Privacy Policy.</p>

    <h2>Confidentiality</h2>
    <p>The Internet is not a secure means of communication and the privacy, integrity or authenticity of any communication over the Internet between you and Carmandi cannot be ensured. Carmandi is not responsible for any damages you may suffer if you communicate confidential information over the Internet or if Carmandi communicates such information to you at your request.</p>
    <h2>Use of the Site</h2>
    <p>The Site is for your personal and non-commercial use. You may view and print out web pages from the Site for personal use, provided that you maintain all copyright notices, but may not otherwise copy, reproduce, modify, collect, or catalogue information or material on the Site, except as expressly permitted by Carmandi or these Terms of Use.</p>
    <p>You may not use the Site to engage in any unlawful activity or to infringe the rights of Carmandi, its affiliates or others.
You further agree that you will not (i) interfere with the operation of the Site in any way, (ii) interfere with anyone’s use or enjoyment of the Site, (iii) harass anyone on the Site or through the Site, (iv) impersonate any person or entity on the Site or through the Site, or (v) post any content or views that may be considered threatening, abusive, vulgar, obscene or otherwise objectionable.</p>
    
    <h2>Monitoring Use of the Site</h2>
    <p>Carmandi may monitor the Site but is under no obligation to do so. You hereby waive any expectation of privacy in such information and activity. Your waiver of rights in all such monitoring does not apply to personally identifiable information which is handled by Carmandi in accordance with the Privacy Policy of the Site.</p>
    
    <h2>Termination of Access</h2>
    <p>If you use the Site in any manner that is prohibited by these Terms of Use, Carmandi may without notice terminate your use of the Site or your access to the Site at any time.</p>
    
    <h2>Intellectual Property</h2>
    <p>The copyright to the Site, the design and appearance of the Site, and all of the materials and content on the Site are owned by or licensed to Carmandi. These materials are protected by law against unauthorized copying and reproduction. Any use, reproduction or distribution of material, including caching, framing, or similar means, from the Site (except as permitted herein) without written permission of Carmandi is expressly prohibited.</p>
    <p>AutoHebdo.net are registered or unregistered trade-marks of Carmandi or its affiliates or associates. Other service and product marks that appear on the Site are the trade-marks of their respective owners. The display of any trade-marks on the Site does not imply that a license has been granted for any further use.</p>
    <p>Unless otherwise agreed to in writing by Carmandi, all information provided by you, including, without limitation, any suggestions, comments or know-how you may provide to Carmandi through the Site, is provided on a non-confidential basis and becomes the exclusive property of Carmandi. You expressly consent to the unrestrained use of all such information by Carmandi. Your waiver of rights in all such information does not apply to personally identifiable information which is handled by Carmandi in accordance with the Privacy Policy of the Site.</p>
    
    <h2>Dealing with Third Parties</h2>
    <p>Any correspondence or business dealings with any third parties including merchants, sellers, or advertisers found on, or through, the Site is solely between you and such parties. Carmandi is not responsible for any damages you may suffer by entering into such transactions including the payment for and delivery of goods if any, and any terms, conditions, warranties, or representations associated with such dealings. You and the third party, not Carmandi, are responsible for compliance with all laws applicable in any such transaction.</p>
    <p>Use caution and common sense when using the Site and, in particular, exercise great care when revealing personal information. When using the Site there are risks of dealing with underage persons or people acting under false pretences.</p>
    
    <h2>No Endorsement</h2>
    <p>The Site may contain links to other sites. Such other sites were independently developed by parties other than Carmandi. These links are for your convenience only and Carmandi does not assume responsibility for the accuracy or appropriateness of the information contained at such sites or endorse the viewpoints expressed at such sites.</p>
    <p>Any mention of another party or its product or service on the Site is for informational purposes only and should not be construed as an express or implied endorsement of that party or its advice, opinions, information, products or services.</p>
    
    <h2>No Contract or Offer</h2>
    <p>No part of the Site should be taken to constitute an offer or solicitation to buy or sell products or services. Some products or services mentioned on the Site may only be available in certain areas or jurisdictions. Any products or services mentioned on the Site are made available only where they may be lawfully made available or offered for sale. Except for your agreement to abide by these Terms of Use and your agreement to the Privacy Policy, use of the Site does not create any contract or agreement between you and Carmandi, nor any obligation of Carmandi to you.</p>
    
    <h2>No Warranties</h2>
    <p>Information provided on the Site by Carmandi is believed to be reliable when posted. HOWEVER, Carmandi DOES NOT GUARANTEE THE QUALITY, ACCURACY, COMPLETENESS OR TIMELINESS OF THE INFORMATION PROVIDED. INFORMATION CONTAINED ON THE SITE MAY CONTAIN ERRORS. ACCESS TO THE SITE IS PROVIDED ON AN "AS IS" BASIS. YOU SHOULD NOT ASSUME THAT YOUR USE OF THE SITE WILL BE ERROR FREE OR THAT THE SITE WILL OPERATE WITHOUT INTERRUPTION.</p>
    <p>Carmandi DISCLAIMS ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS REGARDING USE OF THE SITE OR THE INFORMATION PROVIDED, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT, WHETHER EXPRESS OR IMPLIED, OR ARISING FROM A COURSE OF DEALING, USAGE OR TRADE PRACTICE.</p>
    
    <h2>No Liability</h2>
    <p>Carmandi IS NOT RESPONSIBLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES WHATSOEVER AND HOWSOEVER CAUSED, ARISING OUT OF OR IN CONNECTION WITH THE USE OR MISUSE OF THE SITE OR IN RELIANCE ON THE INFORMATION AVAILABLE ON THE SITE, INCLUDING ANY BUSINESS INTERRUPTION, LOSS OF USE, LOST DATA, LOST PROFITS OR ANY OTHER PECUNIARY LOSS, WHETHER IN AN ACTION OF CONTRACT, CIVIL LIABILITY, NEGLIGENCE OR OTHER TORTIOUS ACTION, EVEN IF Carmandi HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGES OR SUCH DAMAGES ARE REASONABLY FORESEEABLE.</p>
    
    <h2>Indemnity</h2>
    <p>You hereby agree to indemnify, defend and hold harmless Carmandi and the partners, members, shareholders, officers, directors, employees, consultants, lawyers and agents of Carmandi, from any and all third party claims, liability, damages or costs they incur arising as a result of your misuse of the Site, your violation of these Terms of Use, or your infringement of any intellectual property or other right of Carmandi or any person or entity.</p>
    
    <h2>Jurisdiction</h2>
    <p>Any dispute shall be governed by British Columbia and Canadian law and adjudicated by the courts of British Columbia, Canada. Certain jurisdictions expressly prohibit a choice of law or venue clause in a consumer contract that refers to a “foreign” jurisdiction vis-à-vis the consumer. In such specific circumstances, any dispute in relation to these Terms of Use shall be governed by the law applicable to the consumer.</p>
    
    <h2>Entire Agreement:</h2>
    <p>These Terms of Use, including the provisions set forth under the additional pages linked below, constitute the entire agreement between the parties with respect to the Site. It supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, with respect to the Site.</p>
 
    <p>The following provisions, as amended from time to time, as well as any other policy or rules that apply to particular services or portions of the Site, are incorporated by reference and are part of these Terms of Use.</p>
    
    </div>
</div>
