<div class="active-scaffold active-scaffold-as_admin__representative admin/representative-view default-theme" id="as_admin__representative-active-scaffold">
	<div class="active-scaffold-header">
		<div class="actions">
			<%=link_to t(:create_new), new_vehicle_path, :class => 'new action' %>
		</div>
	</div>
</div>